* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}
a {
  text-decoration: none;
}
.outerWrapper {
  width: 100vw;
  height: 100vh;
  background-color: #8cc461;
}
.innerWrapper {
  width: 70%;
  height: 90%;
  margin: auto;
  /* border: 1px solid black; */
}
header {
  height: 30%;
  display: flex;
  align-items: end;
}
.header {
  border: 2px solid #ffffff;
  border-radius: 0.9rem;
  height: 60%;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.headerNames {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.headerScore {
  display: flex;
  gap: 2rem;
}
.scoreBoard {
  background-color: #ffffff;
  border-radius: 0.7rem;
  padding: 0.5rem;
  width: 7rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ScoreName {
  color: #656565;
  font-weight: 600;
}
.HeaderScore {
  color: #656565;
  font-weight: 600;
}
.scoreNumber {
  color: #656565;
  font-size: 2.5rem;
  font-weight: 800;
}
/* Header is done */

.Main {
  width: 100%;
  height: 59%;
  position: relative;
}
/* new try */
.mainContainer {
  width: 55%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.firstRow {
  margin-top: 1rem;
  display: flex;
  padding: 0 1rem;
}
.lines {
  width: 70%;
  height: 0.8rem;
  background-color: #000000a3;
  margin: auto;
  z-index: 1;
}
.middleTriangle {
  width: 100%;
  height: 100%;
  position: relative;
}
.triangle {
  width: 20rem;
  height: 20rem;
  border: 0.9rem solid #000000a3;
  position: absolute;
  transform: translate(50%, 50%) rotate(45deg);
  border-top: none;
  border-left: none;
  bottom: 8.3rem;
  left: -1.3rem;
}
.line2 {
  transform: rotate(50deg);
  top: 9rem;
  left: -2rem;
}
.line3 {
  transform: rotate(-55deg);
  top: 8rem;
  right: -2rem;
}
.secondRow {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
/* new try */

.image {
  width: 3rem;
}
.Circule {
  width: 6rem;
  height: 6rem;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}
.Circule:hover {
  transform: scale(1.25) rotate(20deg);
  transition: transform 0.5s ease-out;
}
.stone {
  border: 0.8rem solid #0074b6;
}
.scissor {
  border: 0.8rem solid #bd00ff;
}
.paper {
  border: 0.8rem solid #ffa943;
}
/* first main section done  */

.secondSection {
  height: 80%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  display: none;
}
.userSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
#SecondCirculeUser {
  width: 6rem;
  height: 6rem;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}
#SecondCirculePc {
  width: 6rem;
  height: 6rem;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}
.pcSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.pick {
  font-size: 1rem;
  font-weight: 600;
}
.outerMost {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outerRing {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerRign {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.winnerSection {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 90%;
}
.WinnerStatus {
  font-size: 2rem;
  font-weight: 700;
}
.againstPC {
  font-size: 1.2rem;
}
.playBtn {
  border: none;
  color: black;
  background-color: #ffffff;
  border-radius: 0.6rem;
  padding: 0.6rem;
  cursor: pointer;
}
/* second main section done  */

/* Main section done */

footer {
  height: 10%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
}
.ruleSide {
  display: flex;
  gap: 0.5rem;
}
.btn {
  padding: 0.2rem 0.9rem;
  font-size: 1rem;
  border: 2px solid #ffffff;
  border-radius: 0.6rem;
  background: transparent;
  cursor: pointer;
}
.next {
  display: none;
}

/* Remove the comment to hide reset button */
/* .resetBtn {
  display: none;
} */

/* footer section done */

.rule {
  background-color: #004429;
  border: 0.3rem solid #ffffff;
  border-radius: 0.8rem;
  font-size: 0.9rem;
  width: 20rem;
  position: absolute;
  right: -12rem;
  top: 6rem;
  padding: 2rem;
  z-index: 6;
  /* display: none; */
  /* remove to stop opening rule at load*/
}
.rule li::marker {
  color: #ffd600;
}
.rule li {
  list-style-type: square;
}
.ruleHeading {
  text-align: center;
  padding-bottom: 0.6rem;
  position: relative;
}
.ruleList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cross {
  width: 3rem;
  height: 3rem;
  text-align: center;
  border: 0.5rem solid #ffffff;
  background-color: #ff0000;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 900;
  position: absolute;
  top: -1.3rem;
  right: -1.2rem;
  cursor: pointer;
}

/* Responsiveness by media query  */

@media screen and (max-width: 1360px) and (min-width: 1151px) {
  .rule {
    right: -10rem;
  }
  .triangle{
    left: -3.3rem;
  }
}
@media screen and (max-width: 1150px) and (min-width: 900px) {
  .rule {
    right: -8rem;
    width: 18rem;
    height: 18rem;
    font-size: 0.8rem;
  }
  .triangle{
    left: -4rem;
    width: 17.6rem;
    height: 17.6rem;
  }
}
