* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
a {
  text-decoration: none;
}
